<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><!--{if !empty($navtitle)}-->$navtitle - <!--{/if}--><!--{if empty($nobbname)}--> $_G['setting']['bbname']<!--{/if}--></title>
<meta name="keywords" content="{if !empty($metakeywords)}{echo dhtmlspecialchars($metakeywords)}{/if}" />
    <meta name="description" content="{if !empty($metadescription)}{echo dhtmlspecialchars($metadescription)} {/if}{if empty($nobbname)},$_G['setting']['bbname']{/if}" />
<link href="$_G['setting']['csspath']template/eis_y_car/portal/css/com.css" rel="stylesheet" type="text/css" />
<link href="$_G['setting']['csspath']template/eis_y_car/portal/css/js.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$_G['setting']['csspath']template/eis_y_car/portal/js/jquery.js"></script>
<script type="text/javascript" src="$_G['setting']['csspath']template/eis_y_car/portal/js/DD_belatedPNG.js"></script>
<!--[if IE 7]><style>
#Menu li img{
    border:0px;
    margin-left:2px;
    margin-right:2px;
    margin-top:5px;
}
</style><![endif]-->
<script type="text/javascript">  
    DD_belatedPNG.fix('.deal_buy');   
</script>
</head>
