<style type="text/css">
    #threadlist .common a{color:#005EAC;}
    #threadlist .common a:visited {color: #005EAC;}
    #replies{color:#C10000;font:12px/34px Arial,Helvetica,sans-serif;}
    #threadlist .by a{font:12px;}
    .tl .by {width:115px;text-align:center;}
    .tl .num{width:70px;text-align:center;}
    .tl td em{font-size:12px;}
    #threadlist .new a{font:14px Arial,Helvetica,sans-serif}
</style>
<div id="threadlist" class="tl bm" style="position: relative;">
{hook/forumdisplay_filter_extra}
<!--{if $quicksearchlist && !$_G['gp_archiveid']}-->
    {subtemplate forum/search_sortoption}
<!--{/if}-->
<form method="post" autocomplete="off" name="moderate" id="moderate" action="forum.php?mod=topicadmin&action=moderate&fid=$_G[fid]&infloat=yes&nopost=yes">
    <input type="hidden" name="formhash" value="{FORMHASH}" />
    <input type="hidden" name="listextra" value="$extra" />
    <table summary="forum_$_G[fid]" {if !$separatepos}id="forum_$_G[fid]"{/if} cellspacing="0" cellpadding="0">
    <tbody class="th" style="display:none;">
        <tr>
            <td class="icn">&nbsp;</td>
            <!--{if !$_G['gp_archiveid'] && $_G['forum']['ismoderator']}-->
            <td class="o">&nbsp;</td>
            <!--{/if}-->
            <th>
                置顶区
            </th>
            <td class="by"><strong>{lang author}</strong></td>
            <td class="num"><strong>点击/回复</strong></td>
            <td class="by"><strong>{lang lastpost}</strong></td>
        </tr>
    </tbody>
    <!--{if (!$simplestyle || !$_G['forum']['allowside'] && $page == 1) && !empty($announcement)}-->
        <tbody>
            <tr>
                <td><img src="{IMGDIR}/ann_icon.gif" alt="{lang announcement}" /></td>
                <!--{if $_G['forum']['ismoderator'] && !$_G['gp_archiveid']}--><td>&nbsp;</td><!--{/if}-->
                <th><strong>{lang announcement}: <!--{if empty($announcement['type'])}--><a href="forum.php?mod=announcement&id=$announcement[id]#$announcement[id]" target="_blank">$announcement[subject]</a><!--{else}--><a href="$announcement[message]" target="_blank">$announcement[subject]</a><!--{/if}--></strong></th>
                <td>
                    <cite><a href="home.php?mod=space&uid=$announcement[authorid]">$announcement[author]</a></cite>
                    <em>$announcement[starttime]</em>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    <!--{/if}-->
    <!--{if $_G['forum_threadcount']}-->
        <!--{loop $_G['forum_threadlist'] $key $thread}-->
        <!--{if $_G[setting][forumseparator] == 1 && $separatepos == $key + 1}-->
            <tbody class="th">
                <tr>
                    <td class="icn">&nbsp;</td>
                    <!--{if $_G['forum']['ismoderator'] && !$_G['gp_archiveid']}-->
                    <td>&nbsp;</td>
                    <!--{/if}-->
                    <th><strong>板块主题</strong></th>
                    <td class="by"><strong>{lang author}</strong></td>
                    <td class="num"><strong>回复/查看</strong></td>
                    <td class="by"><strong>{lang lastpost}</strong></td>
                </tr>
            </tbody>
        <!--{/if}-->
        
        <!-- 置顶-->

                <!--{if $tr != $thread['displayorder']}-->
                <!--{if $thread['displayorder'] == 1}-->
                <tbody class="th">
                    <tr>
                        <td class="icn">&nbsp;</td>
                        <!--{if !$_G['gp_archiveid'] && $_G['forum']['ismoderator']}-->
                        <td class="o">&nbsp;</td>
                        <!--{/if}-->
                        <th><strong>本版置顶</strong></th>
                        <td class="by"><strong>{lang author}</strong></td>
                        <td class="num"><strong>回复/查看</strong></td>
                        <td class="by"><strong>{lang lastpost}</strong></td>
                    </tr>
                </tbody>
                <!--{elseif $thread['displayorder'] == 2}-->
                <tbody class="th">
                    <tr>
                        <td class="icn">&nbsp;</td>
                        <!--{if !$_G['gp_archiveid'] && $_G['forum']['ismoderator']}-->
                        <td class="o">&nbsp;</td>
                        <!--{/if}-->
                        <th><strong>分区置顶</strong></th>
                        <td class="by"><strong>{lang author}</strong></td>
                        <td class="num"><strong>回复/查看</strong></td>
                        <td class="by"><strong>{lang lastpost}</strong></td>
                    </tr>
                </tbody>
                <!--{elseif $thread['displayorder'] == 3}-->
                <tbody class="th">
                    <tr>
                        <td class="icn">&nbsp;</td>
                        <!--{if !$_G['gp_archiveid'] && $_G['forum']['ismoderator']}-->
                        <td class="o">&nbsp;</td>
                        <!--{/if}-->
                        <th><strong>全区置顶</strong></th>
                        <td class="by"><strong>{lang author}</strong></td>
                        <td class="num"><strong>回复/查看</strong></td>
                        <td class="by"><strong>{lang lastpost}</strong></td>
                    </tr>
                </tbody>
                <!--{/if}-->
                <!--{eval $tr = $thread['displayorder'];}-->
                <!--{/if}-->
        <tbody id="$thread[id]">
            <tr>
                <td class="icn">
                    <a href="forum.php?mod=viewthread&tid=$thread[tid]&{if $_G['gp_archiveid']}archiveid={$_G['gp_archiveid']}&{/if}extra=$extra" title="{lang target_blank}" target="_blank">
                    <!--{if $thread[folder] == 'lock'}-->
                        <img src="{IMGDIR}/folder_lock.gif" />
                    <!--{elseif in_array($thread['displayorder'], array(1, 2, 3, 4))}-->
                        <img src="{IMGDIR}/pin_$thread[displayorder].gif" alt="$_G[setting][threadsticky][3-$thread[displayorder]]" />
                    <!--{elseif $thread['digest'] > 0 && $_G['gp_filter'] != 'digest'}-->
                        <img src="{IMGDIR}/digest_$thread[digest].gif" class="vm" alt="" title="{lang thread_digest} $thread[digest]" />
                    <!--{elseif $thread['digest'] > 0 && $_G['gp_filter'] == 'digest'}-->
                        <img src="{IMGDIR}/digest_$thread[digest].gif" class="vm" alt="" title="{lang thread_digest} $thread[digest]" />
                    <!--{else}-->
                        <img src="{IMGDIR}/folder_$thread[folder].gif" />
                    <!--{/if}-->
                    </a>
                </td>
                <!--{if !$_G['gp_archiveid'] && $_G['forum']['ismoderator']}-->
                <td class="o">
                    <!--{if $thread['fid'] == $_G[fid] && $thread['digest'] >= 0}-->
                        <!--{if $thread['displayorder'] <= 3 || $_G['adminid'] == 1}-->
                            <input onclick="tmodclick(this)" type="checkbox" class="pc" name="moderate[]" value="$thread[tid]" />
                        <!--{else}-->
                            <input type="checkbox" disabled="disabled" />
                        <!--{/if}-->
                    <!--{else}-->
                        <input type="checkbox" disabled="disabled" />
                    <!--{/if}-->
                </td>
                <!--{/if}-->
                <th class="$thread[folder]">
                    <!--{if !empty($_G[setting][pluginhooks][forumdisplay_thread][$key])}-->
                        <label>{hook/forumdisplay_thread $key}</label>
                    <!--{/if}-->
                    $thread[sorthtml] $thread[typehtml]
                    <!--{if $thread['moved']}-->
                        {lang thread_moved}:{eval $thread[tid]=$thread[closed];}
                    <!--{/if}-->					
                    <!--{if $thread['isgroup'] == 1 && $thread['displayorder'] < 3}-->
                        {eval $thread[tid]=$thread[closed];}
                        $thread['displayorder'][<a href="forum.php?mod=forumdisplay&action=list&fid={$groupnames[$thread[tid]][fid]}" target="_blank">{$groupnames[$thread[tid]][name]}</a>]
                    <!--{/if}-->
                    <a href="forum.php?mod=viewthread&tid=$thread[tid]&{if $_G['gp_archiveid']}archiveid={$_G['gp_archiveid']}&{/if}extra=$extra"$thread[highlight]{if $thread['isgroup'] == 1 || $thread['forumstick']} target="_blank"{else} onclick="atarget(this)"{/if}>$thread[subject]</a>
                    <!--{if $thread['readperm']}--> - [{lang readperm} <span class="bold">$thread[readperm]</span>]<!--{/if}-->
                    <!--{if $thread['price'] > 0}-->
                        <!--{if $thread['special'] == '3'}-->
                        - <span style="color: #C60">[{lang thread_reward}{$_G[setting][extcredits][$_G['setting']['creditstransextra'][2]][title]} <span class="bold">$thread[price]</span> {$_G[setting][extcredits][$_G['setting']['creditstransextra'][2]][unit]}]</span>
                        <!--{else}-->
                        - [{lang price} {$_G[setting][extcredits][$_G['setting']['creditstransextra'][1]][title]} <span class="bold">$thread[price]</span> {$_G[setting][extcredits][$_G['setting']['creditstransextra'][1]][unit]}]
                        <!--{/if}-->
                    <!--{elseif $thread['special'] == '3' && $thread['price'] < 0}-->
                        - [{lang reward_solved}]
                    <!--{/if}-->
                    <!--{if $thread['attachment'] == 2}-->
                        <img src="{STATICURL}image/filetype/image_s.gif" alt="" title="{lang attach_img}" class="vm" />
                    <!--{elseif $thread['attachment'] == 1}-->
                        <img src="{STATICURL}image/filetype/common.gif" alt="" title="{lang attachment}" class="vm" />
                    <!--{/if}-->
                    <!--{if $thread['displayorder'] == 0}-->
                        <!--{if $thread[recommendicon] && $_G['gp_filter'] != 'recommend'}-->
                            <img src="{IMGDIR}/recommend_$thread[recommendicon].gif" class="vm" alt="" title="{lang thread_recommend}" />
                        <!--{/if}-->
                        <!--{if $thread[heatlevel]}-->
                            <img src="{IMGDIR}/hot_$thread[heatlevel].gif" class="vm" alt="" title="$thread[heatlevel] {lang heats}" />
                        <!--{/if}-->
                        
                        <!--{if $thread[folder] == 'lock'}-->
                            <img src="{IMGDIR}/folder_lock.gif" />
                        <!--{elseif $thread['special'] == 1}-->
                            <img src="{IMGDIR}/pollsmall.gif" alt="{lang thread_poll}" />
                        <!--{elseif $thread['special'] == 2}-->
                            <img src="{IMGDIR}/tradesmall.gif" alt="{lang thread_trade}" />
                        <!--{elseif $thread['special'] == 3}-->
                            <img src="{IMGDIR}/rewardsmall.gif" alt="{lang thread_reward}" />
                        <!--{elseif $thread['special'] == 4}-->
                            <img src="{IMGDIR}/activitysmall.gif" alt="{lang thread_activity}" />
                        <!--{elseif $thread['special'] == 5}-->
                            <img src="{IMGDIR}/debatesmall.gif" alt="{lang thread_debate}" />
                        <!--{/if}-->
                        <!--{if $thread['rate'] > 0}-->
                            <img src="{IMGDIR}/agree.gif" class="vm" alt="" title="{lang rate_credit_add}" />
                        <!--{/if}-->
                    <!--{/if}-->
                    <!--{if $thread[multipage]}-->
                        <span class="tps">$thread[multipage]</span>
                    <!--{/if}-->
                </th>
                <td class="by">
                    <cite>
                    <!--{if $thread['authorid'] && $thread['author']}-->
                        <a href="home.php?mod=space&uid=$thread[authorid]">$thread[author]</a>
                    <!--{else}-->
                        <!--{if $_G['forum']['ismoderator']}-->
                            <a href="home.php?mod=space&uid=$thread[authorid]">{lang anonymous}</a>
                        <!--{else}-->
                            {lang anonymous}
                        <!--{/if}-->
                    <!--{/if}-->
                    </cite>
                    <em>{eval echo date('Y-m-d H:i',$thread[dbdateline])}</em>
                </td>
                <td class="num"><a class="lit" id="replies">$thread[replies]</a>/<a>$thread[views]</a></td>
                <td class="by">
                    <cite><!--{if $thread['lastposter']}--><a href="{if $thread[digest] != -2}home.php?mod=space&username=$thread[lastposterenc]{else}forum.php?mod=viewthread&tid=$thread[tid]&amp;page={echo max(1, $thread[pages]);}{/if}">$thread[lastposter]</a><!--{else}-->{lang anonymous}<!--{/if}--></cite>
                    <em><a style="font-family:Arial,Helvetica,sans-serif;font-size:12px;" href="{if $thread[digest] != -2}forum.php?mod=redirect&tid=$thread[tid]&goto=lastpost$highlight#lastpost{else}forum.php?mod=viewthread&tid=$thread[tid]&amp;page={echo max(1, $thread[pages]);}{/if}">{eval echo date('Y-m-d H:i',$thread[dblastpost])}</a></em>
                </td>
            </tr>
        </tbody>
        <!--{/loop}-->
    <!--{else}-->
        <tbody><tr><th colspan="{if !$_G['gp_archiveid'] && $_G['forum']['ismoderator']}{if !$simplestyle}5{else}6{/if}{else}{if !$simplestyle}4{else}5{/if}{/if}"><p class="emp">{lang forum_nothreads}</p></th></tr></tbody>
    <!--{/if}-->
    </table>
    <!--{if $_G['forum']['ismoderator'] && $_G['forum_threadcount']}-->
        {template forum/topicadmin_modlayer}
    <!--{/if}-->
</form>
</div>
    <div class="bm bw0 pgs cl">
    <!--{if empty($multipage)}-->
        <div style="visibility:hidden;width:516px;height:27px;float:left;"></div>
        <span style="margin-left:200px;font-size:14px;">
        <!--{if !$_G['setting']['closeforumorderby']}-->
                        {lang orderby}:
                        <a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=author&orderby=dateline$forumdisplayadd[author]{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}" style="color:#5a63d3;">最新发布</a>|
                        <a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=lastpost&orderby=lastpost$forumdisplayadd[lastpost]{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}" style="color:#5a63d3;">最新回复</a>
        <!--{/if}-->
    </span>
    <!--{if !$_GET['archiveid']}--><a href="javascript:;" id="newspecial" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"{if !$_G['forum']['allowspecialonly'] && empty($_G['forum']['picstyle']) && !$_G['forum']['threadsorts']['required']} onclick="showWindow('newthread', 'forum.php?mod=post&action=newthread&fid=$_G[fid]')"{else} onclick="location.href='forum.php?mod=post&action=newthread&fid=$_G[fid]';return false;"{/if} title="{lang send_posts}" style="float:right;"><img src="{IMGDIR}/pn_post.png" alt="{lang send_posts}" /></a><!--{/if}-->
    <!--{hook/forumdisplay_postbutton_bottom}-->
    <!--{else}-->	
    <span id="fd_page_bottom">$multipage</span>
        <span style="margin-left:200px;font-size:14px;">
        <!--{if !$_G['setting']['closeforumorderby']}-->
                        {lang orderby}:
                        <a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=author&orderby=dateline$forumdisplayadd[author]{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}" style="color:#5a63d3;">最新发布</a>|
                        <a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=lastpost&orderby=lastpost$forumdisplayadd[lastpost]{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}" style="color:#5a63d3;">最新回复</a>
        <!--{/if}-->
    </span>
    <!--{if !$_GET['archiveid']}--><a href="javascript:;" id="newspecial" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"{if !$_G['forum']['allowspecialonly'] && empty($_G['forum']['picstyle']) && !$_G['forum']['threadsorts']['required']} onclick="showWindow('newthread', 'forum.php?mod=post&action=newthread&fid=$_G[fid]')"{else} onclick="location.href='forum.php?mod=post&action=newthread&fid=$_G[fid]';return false;"{/if} title="{lang send_posts}" style="float:right;"><img src="{IMGDIR}/pn_post.png" alt="{lang send_posts}" /></a><!--{/if}-->
    <!--{hook/forumdisplay_postbutton_bottom}-->
    <!--{/if}-->
</div>
<style>
    .xd_t{
        height:336px;
        width:974px;
        border:1px solid #ccc;
        padding-bottom:10px;
    }
    .xd_t ul li{
        float:left;
        list-style:none;
        width:186px;
        height:140px;
        background:#ccc;
        margin:5px 4px;
    }
    .xd_t1{
        height:146px;
        margin-top:1px;
    }
    .xd_t3{
        height:28px;
        width:974px;
        margin:3px 0;
    }
    .xd_t2{
        height:146px;
    }
    .xd_img{
        width:170px;
        height:88px;
        margin:1px 8px 4px 8px;
    }
    .xd_title{
        height:22px;
        margin:1px;
        text-align:center;
    }
    .xd_zz{
        height:20px;
        padding:1px 2px;
        text-align:center;
    }
</style>
<div class="xd_t">
    <div class="xd_t1">
        <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
        <!--{block/49}-->
    </div>
    <div class="xd_t3"></div>
    <div class="xd_t2">
        <!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
        <!--{block/50}-->
    </div>
</div>